@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block {
    padding: 10px;
    margin: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    font-family: "inter";

}

.pouss {
    margin-top: 15px;
}

.bleu {
    background-color: #1398A0;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 12px;

}

img {
    width: 30%;
    height: 100vh;
    width: 100%;
    border-radius: 32px;
}